<!DOCTYPE html>
<script src="lib/vue.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今天吃什么</title>
</head>
<style>
body {
    background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
}

one {
    color: white;
    text-align: center;
}

two {
    color: white;
    font-family: "Times New Roman";
    font-size: 20px;
}
three {
    color: white;
    font-family: "Times New Roman";
    font-size: 20px;
}
</style>

<body>

<div id = "selection">

    <one>
        <input type="checkbox" id="dingji" value="丁记烩面" v-model="checkedNames">
        <label for="dingji">丁记烩面</label>
        <br>
            <input type="checkbox" id="miandian" value="面点王" v-model="checkedNames">
        <label for="miandian">面点王</label>
        <br>
        <input type="checkbox" id="jiye" value="吉野家" v-model="checkedNames">
        <label for="jiye">吉野家</label>
        <br>
        <input type="checkbox" id="chuanyu" value="川渝记" v-model="checkedNames">
        <label for="chuanyu">川渝记</label>
        <br>

        <input type="checkbox" id="dashi" value="大食尚" v-model="checkedNames">
        <label for="dashi">大食尚</label>
        <br>

        <input type="checkbox" id="mcd" value="麦当劳" v-model="checkedNames">
        <label for="mcd">麦当劳</label>
        <br>
        <br>
        <!--TODO: dynamic choice list. i.e. update the checkedNames by a textbox and "-"" button-->
    </one>

    <two>
        已选：<li v-for= "item in checkedNames"> {{ item }}</li>
    </two>

    <br>

    <three>
        <la v-if= "checkedNames.length > 0">
            Set the key: <input type="text" v-model="seed" placeholder= "seed">
            <br>
            <button v-on:click="calculate">Show me the result!</button>
            <br>
            <br>
 
            <lb v-if= "result.length > 0"> Let's go to {{ result }} !! </lb>

        </la>
    </three>

</div>


<script>
    var vue = new Vue({
        el: '#selection',
        data:{
            checkedNames: [],
            seed: Math.random((new Date).getTime()),
            result:[]
        },
        methods: {
            calculate: function (event) {
                if(this.checkedNames.length < 2){
                    alert("Only 1 choice?! You forking kiding me!");
                }
                else{
                    var result = Math.floor((Math.random(this.seed)*this.checkedNames.length));
                    this.result = this.checkedNames[result]
                  }
              }
          }
      })

    setInterval(function(){ vue.seed = Math.random(Math.random((new Date).getTime())*Math.PI);}, 5000);
</script>

</body>
</html>